<mat-card class="nav">
  <mat-grid-list cols="8" rowHeight="3:1">
    <a href="">
      <mat-grid-tile class="logo" [colspan]="2"><img src="assets/img/logo.png" /></mat-grid-tile>
    </a>
    <a href="#">
      <mat-grid-tile [colspan]="1" class="navComic"><img src="assets/img/allcomic.png" />ALL COMICS</mat-grid-tile>
    </a>
    <a href="#">
      <mat-grid-tile [colspan]="1" class="navSch"><img src="assets/img/sch.png" />SCHEDULE</mat-grid-tile>
    </a>
    <a href="#">
      <mat-grid-tile [colspan]="1" class="navCal"><img src="assets/img/challange.png" />CALLANGE</mat-grid-tile>
    </a>
    <a href="#">
      <mat-grid-tile [colspan]="1" class="navBlog"><img src="assets/img/blog.png" />BLOG</mat-grid-tile>
    </a>
    <mat-grid-tile [colspan]="1">
      <mat-icon class="navSearch">search</mat-icon>
    </mat-grid-tile>
    <a href="">
      <mat-grid-tile [colspan]="1" class="navLogin">LOGIN/REGISTER</mat-grid-tile>
    </a>
  </mat-grid-list>
</mat-card>

<mat-card>
  <img src="assets/img/jumbotron1.jpg" class="jumbotron">
</mat-card>

<div class="share">
  <mat-grid-list cols="4" rowHeight="50px">
    <mat-grid-tile [colspan]="1" class="navComic2">
      <h2>Bring Your comic in your pocket</h2>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" class="navComic"><a href="#"><img src="assets/img/appstore.png"></a></mat-grid-tile>
    <mat-grid-tile [colspan]="1" class="navComic"><a href="#"><img src="assets/img/playstore.png"></a></mat-grid-tile>
    <mat-grid-tile [colspan]="1"><img src="assets/img/share.jpg"></mat-grid-tile>
  </mat-grid-list>
</div>

<div class="container">
  <h2>Editor's choices</h2>
  <mat-grid-list cols="3">
    <div *ngFor="let gambar of gambars">
      <mat-grid-tile [colspan]="1">
        <mat-card class="editor">
          <img mat-card-image src={{gambar.nama}}>
          <mat-card-content>
            <h3>{{ gambar.judul }}</h3>
            <p>
              {{ gambar.detail }}
            </p>
            <div class="overlay">
              <div class="read">READ NOW</div>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </div>
  </mat-grid-list>
</div>

<div class="container2">
  <h2>New Release</h2>
  <mat-grid-list cols="10" rowHeight="350px">
    <div *ngFor="let new of news">
      <mat-grid-tile [colspan]="2">
        <mat-card>
          <img mat-card-image src={{new.nama}}>
          <mat-card-content>
            <h3>{{ new.genre }}</h3>
            <p>
              {{ new.judul }}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-flat-button color="primary">Subscribe</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
    </div>
  </mat-grid-list>
</div>

<div class="container">
  <h2>Comming Soon</h2>
  <mat-grid-list cols="5" rowHeight="420px">
    <mat-grid-tile [colspan]="1"></mat-grid-tile>
    <div *ngFor="let soon of soons">
      <mat-grid-tile [colspan]="1">
        <mat-card class="editor">
          <mat-card-header>
            <mat-card-title>NEW SEASON</mat-card-title>
          </mat-card-header>
          <img mat-card-image src={{soon.nama}}>
          <mat-card-content>
            <h3>{{ soon.genre }}</h3>
            <h2>{{ soon.judul }}</h2>
            <p>Release date</p>
            <p>{{ soon.tanggal}}</p>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </div>
    <mat-grid-tile [colspan]="1"></mat-grid-tile>
  </mat-grid-list>
</div>

<div>
  <h2>CIAYO Comics Challenge</h2>
  <mat-grid-list cols="12" rowHeight="500px">
    <mat-grid-tile [colspan]="1"></mat-grid-tile>
    <div *ngFor="let chall of challs">
      <mat-grid-tile [colspan]="2">
        <mat-card>
          <img mat-card-image src={{chall.nama}}>
          <mat-card-content>
            <h3>{{ chall.judul }}</h3>
            <h2>{{ chall.pengarang}}</h2>
          </mat-card-content>
          <mat-card-actions>
            <p>
              <mat-icon>thumb_up</mat-icon> {{ chall.likes }} Likes
            </p>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
    </div>
    <mat-grid-tile [colspan]="1"></mat-grid-tile>
  </mat-grid-list>
</div>

<div class="container3">
  <h2 class="text">CIAYO Comics - Tempat Baca Komik Online Terlengkap Untuk Milenial Indonesia</h2>
  <p class="text">Kegiatan baca komik online dan webtoon gratis jadi serba mudah di CIAYO Comics
  </p>
  <p class="text">CIAYO Comics adalah platform baca komik online terlengkap bagi milenial Indonesia. Di sini, kamu bisa
    baca komik online Indonesia yang beraneka ragam dari author favoritmu. Tersedia komik gaya Jepang, web komik,
    webtoon gratis, atau komik lokal. Dari segi genre, CIAYO Comics juga punya komik romance, comedy, horror, slice of
    life, drama, action, fantasy, dan juga genre special yang pastinya bisa memenuhi seleramu. Segala webtoon karya
    anak Indonesia di sini dapat kamu baca secara gratis. Ingin membaca belakangan? Kamu juga bisa download komik dan
    langsung membacanya nanti. Tidak hanya itu, kamu juga mendapatkan update webtoon gratis terbaru langsung dari
    author kesukaanmu. Dan, kamu bahkan juga bisa meninggalkan komentar dan berinteraksi dengan mereka. Yuk, tunggu apa
    lagi? Pantengin CIAYO Comics biar kamu bisa terhubung dengan komunitas komik terbesar untuk milenial Indonesia!</p>
</div>

<mat-card class="nav">
  <mat-grid-list cols="9" rowHeight="100px">
    <mat-grid-tile class="logo" [colspan]="2"><img src="assets/img/logo2.png" /></mat-grid-tile>
    <a href="#">
      <mat-grid-tile [colspan]="1" class="navComic">About Us</mat-grid-tile>
    </a>
    <a href="#">
      <mat-grid-tile [colspan]="1" class="navSch">Terms & Conditions</mat-grid-tile>
    </a>
    <a href="#">
      <mat-grid-tile [colspan]="1" class="navCal">Privacy Policy</mat-grid-tile>
    </a>
    <a href="#">
      <mat-grid-tile [colspan]="1" class="navFaq">F.A.Q</mat-grid-tile>
    </a>
    <a href="#">
      <mat-grid-tile [colspan]="1" class="navContact">Contact Us</mat-grid-tile>
    </a>
    <mat-grid-tile [colspan]="2" class="navLogin">Comic Language</mat-grid-tile>
  </mat-grid-list>
</mat-card>