/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.nav{
    background-color:#f7f7f7;
    box-shadow: 2px 4px 7px -1px rgba(0,0,0,0.28);
    position: fixed;
    top: 0px;
}
.editor:hover{
    cursor: pointer;
}
.editorNew:hover{
    cursor: pointer;
}
img:hover{
    cursor: pointer;
} 
.logo{
    margin-left: 5px;
    margin-right: 100px;
}
.navComic{
    color:#9999a5;
}
.navComic2{
    color:white;
}
.navSch{
    color:#9999a5;
    
}
.navCal{
    color:#9999a5;
}
.navBlog{
    color:#9999a5;
    
}
.navSearch{
    color:#9999a5;
}
.navLogin{
    color:#9999a5;
}
.navFaq{
    color:#9999a5;
    
}
.navContact{
    color:#9999a5;
    
}
.jumbotron{
    object-fit: cover; 
    width: 100%; 
    height: 100%;
}
.share{
    background: #af2b26;
    height: 70px;
}
.container{
    background: #f0f0f0;
    height: 80%;
}
.editor{
    background-color: #7c6edf;
    max-width: 400px;
    color: white;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #7c6edf;
  }
  .read {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.editor:hover .overlay{
    opacity: 0.8;
}
.container2{
    background:white;
    height: auto;
}
.container3{
    background:#ae2b26;
    width: 100%;
    color: white;
    height: 70%;
    padding-top: 10px;

}
.text{
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
}